.App {
  text-align: center;
}

.note-wrapper{ 
  border-style: solid;
  border-color:black;
  padding: 10px;
  width:50%;
  margin:auto;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.yourNote{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize:none;
  height: auto;
  width:100%;
}

.num-users-true {
  color: green;
  font-size: 40px;
}

.num-users-false {
  color: red;
  font-size: 30px;
}

.submit-button-false {
  background-color: green;
  color: white;
  width: 100%;
}

.submit-button-true {
  background-color: gray;
  color: white;
  opacity: 0.6;
  width: 100%;
}

.title{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  width:100%;
  margin-bottom: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  white-space: pre-line;
}



.deleteImage {
  display: inline-block;
  float: left;
  width: 15px;
  height: 15px;
  position: relative;
} 

.delete-button {
  display: inline-block;
  float: right;
  margin:5px 5px 0 0; 
} 

.display-block {
  display: block;
}

.display-none {
  display: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}